body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.main-container {
    display: flex;
    border: 2px solid black;
    justify-content: space-around;
    flex-direction: center;
    align-items: center;
    height: 750px;
    width: 1000px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(16, 32px);
    grid-template-rows: repeat(16, 32px);
    border: 2px solid black;
    height: 512px;
    width: 512px;
}

.grid-item  {
    border: 1px solid;
}

#settings-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
    padding: 25px;
    gap: 50px;

    
}

.settings {
    display: flex;
    background-color: rgb(255, 255, 255);
    border: solid black 1px;
    padding: 10px;
    flex-flow: wrap column;
    align-items: center;
    color: white;
    border-radius: 5px;
    gap: 10px;
}

