body {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.main-container {
    display: flex;
    border: 2px solid black;
    justify-content: space-around;
    flex-direction: center;
    align-items: center;
    height: 750px;
    width: 1000px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(16, 32px);
    grid-template-rows: repeat(16, 32px);
    border: 2px solid black;
    height: 512px;
    width: 512px;
}

.grid-item  {
    
    border: 1px solid #ff0000;
}

#settings-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
    padding: 25px;
    height: 450px;
    width: 300px;

    
}

.placeholder {
    display: flex;
    background-color: blue;
    padding: 10px;
    justify-content: center;
    color: white;
    border-radius: 5px;
}